

.App {
  height: calc(100vh - 56px);
}

.content {
  height: 100%;
}

.preview {
  max-width: 800px;
}

#run-button {
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 2rem;
}


.social-container {
  background: #fffacd;
  padding: 50px 50px;
  position: 'absolute';
  bottom:0;
}
a.social {
  margin: 0 12rem;
  transition: transform 250ms;
  display: inline-block;
}
a.social:hover {
  transform: translateY(-2px);
}
a.youtube {
  color: #eb3223;
}

a.facebook {
  color: #4968ad;
}

a.twitter {
  color: #49a1eb;
}

a.instagram {
  color: #d62976;
}


.btn_name{
  margin-left:10px;
}