

.App {
  height: calc(100vh - 56px);
}

.content {
  height: 100%;
}

.preview {
  max-width: 800px;
}

#run-button {
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 2rem;
}
